<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/global.css" />
    <title>Recipe Oasis</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="/images/picture_1.jpg" alt="logo" />
          <h1>Recipe Oasis</h1>
        </div>
        <ul class="nav-links">
          <li><a href="/">HOME</a></li>

          <li><a href="moderntwist">Modern Twist</a></li>
          <li><a href="Healthyoptions">Healthy Options</a></li>
          <li><a href="Communityfavourite">Community Favourite</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="contact">CONTACT</a></li>
          <li class="signup"><a href="signup">Sign Up</a></li>
          <li class="login"><a href="login">Log In</a></li>
        </ul>
        <div class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>

    <script src="scripts/navtoggle.js"></script>
  </body>
</html>
